<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>FirebaseReverseClientId</string>
		</dict>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>app.bumpin.refresh</string>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Bumpin uses the microphone for voice chat in discussions and parties so you can talk with other users.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Bumpin needs access to your Apple Music library to sync music with friends in parties and to help you log and rate your favorite songs.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Bumpin uses your location to help you discover nearby music parties and connect with other music lovers in your area.</string>
	<key>NSCameraUsageDescription</key>
	<string>Bumpin uses the camera to let you take photos for your music reviews and profile pictures.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Bumpin accesses your photo library to let you select images for your profile and music reviews.</string>
	<key>NSContactsUsageDescription</key>
	<string>Bumpin can access your contacts to help you find and connect with friends who also use the app.</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
</dict>
</plist>